body {
    font-family: 'Arial', sans-serif;
    background-color: #2a0404;
    padding: 20px;
    margin: 0;
}
.resume {
    background-color: #d3aeae;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Monotype Corsiva';
    color: #742103;
}
p {
    color: #555;
}
a {
    color: #742103;
    text-decoration: underline;
}
img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #742103;
    color: #d3aeae;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2a0404;
}
.countdown {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* style.css */

/* Apply margin-bottom to headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px; /* Adjust this value as needed */
}

/* Apply margin-top to paragraphs */
p {
    margin-top: 1px; /* Adjust this value as needed */
}
